<nav>
    <div class='site-title'>
        <a href='/'>
            <h1>Blog Ninja</h1>
        </a>
        <h3>A Net Ninja Site</h3>
    </div>
    <ul>
        <li><a href='/'>Blogs</a></li>
        <li><a href='/about'>About Page</a></li>
        <li><a href='/blogs/create'>New Blog</a></li>
    </ul>
</nav>