<html lang='en'>

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class='not-found'>
                <h1>404-oops</h1>
                <h3>This page does not exist.</h3>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>